@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
/* 
section{
    div{

    }
}

section{

}

section div{

} */
#wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  h3 {
    margin-left: 2vw;
  }
  ul {
    display: flex;
    list-style: none;
    li {
      padding-right: 3vw;
      a {
        text-decoration: none;
        color: black;
        transition: all .5s ease-out;
      }
      a:hover{
        color: #fff;
        transition: all .5s ease;
      }
    }
  }
}

#header {
  height: 100vh;
  background: url("../img/Background_1.jpg") center/cover no-repeat;
  padding-top: 30vh;
  text-align: center;
  box-shadow: 0 -5vh 1vh 0 #c0c0c0 inset;
  h1 {
    font-size: 20vh;
    font-weight: bold;
  }
  p {
    font-size: 5vh;
    #space {
      margin: 4vw;
    }
  }
}

#discover {
  height: 100vh;
  background: url("../img/Background_2.jpg") center/cover no-repeat;
  box-shadow: 0 -5vh 0.5vh 0 #bfbfbf inset, 0 5vh 0.5vh 0 #c0c0c0 inset;
  #containerCaroussel {
    padding-top: 50vh;
    .carousel-item {
      height: 80vh;
    }
  }
}

#gallery {
  height: 100vh;
  background: url("../img/Background_3.jpg") center/cover no-repeat;
  box-shadow: 0 -5vh 1vh 0 grey inset, 0 5vh 1vh 0 #bfbfbf inset;
  aside {
    width: 15vw;
    height: 80vh;
    form {
      padding-top: 35vh;
      margin: 0 1vw;
      display: flex;
      flex-direction: column;
      input {
        margin-bottom: 2vh;
        border-radius: 5px;
        background-color: rgb(221, 216, 216);
      }
      .textField::placeholder {
        padding-left: 10px;
      }
      #searchButton {
        width: 5vw;
      }
    }
  }
}

#footer {
  height: 100vh;
  background: url("../img/Background_4.jpg") center/cover no-repeat;
  box-shadow: 0 -3vh 1vh 0 grey inset, 0 3vh 1vh 0 grey inset;
  h2:nth-of-type(1) {
    font-size: 10vh;
    padding-top: 17vh;
    text-align: center;
  }
  h2:nth-of-type(2) {
    font-size: 5vh;
    padding-top: 8vh;
    text-align: center;
  }
  #contact {
    display: flex;
    justify-content: center;
    font-size: 3vh;
    padding-top: 10vh;
    article:nth-of-type(2) {
      width: 10vw;
    }
    #social {
      height: 15vh;
      margin-top: 15vh;
      background-color: #000;
      //   display: inline-block;
    }
  }
}
