@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

*:focus {
  outline: none;
}

/* 
section{
    div{

    }
}

section{

}

section div{

} */
#wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
}

#navbar h3 {
  margin-left: 2vw;
}

#navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

#navbar ul li {
  padding-right: 3vw;
}

#navbar ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#navbar ul li a:hover {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header {
  height: 100vh;
  background: url("../img/Background_1.jpg") center/cover no-repeat;
  padding-top: 30vh;
  text-align: center;
  -webkit-box-shadow: 0 -3vh 1vh 0 #c0c0c0 inset;
          box-shadow: 0 -3vh 1vh 0 #c0c0c0 inset;
}

#header h1 {
  font-size: 20vh;
  font-weight: bold;
}

#header p {
  font-size: 5vh;
}

#header p #space {
  margin: 4vw;
}

#discover {
  height: 100vh;
  background: url("../img/Background_2.jpg") center/cover no-repeat;
  -webkit-box-shadow: 0 -3vh 0.5vh 0 #bfbfbf inset, 0 3vh 0.5vh 0 #c0c0c0 inset;
          box-shadow: 0 -3vh 0.5vh 0 #bfbfbf inset, 0 3vh 0.5vh 0 #c0c0c0 inset;
}

#discover #containerCaroussel {
  padding-top: 10vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#discover #containerCaroussel .carousel-item {
  height: 80vh;
  width: 60vw;
}

#gallery {
  height: 100vh;
  background: url("../img/Background_3.jpg") center/cover no-repeat;
  -webkit-box-shadow: 0 -3vh 1vh 0 #A4A4A4 inset, 0 3vh 1vh 0 #bfbfbf inset;
          box-shadow: 0 -3vh 1vh 0 #A4A4A4 inset, 0 3vh 1vh 0 #bfbfbf inset;
}

#gallery aside {
  width: 20vw;
  height: 80vh;
}

#gallery aside p {
  font-size: 2vh;
  padding-left: 10px;
  margin-top: 30vh;
}

#gallery aside form {
  padding-top: 35vh;
  margin: 0 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#gallery aside form label {
  padding-bottom: 10px;
}

#gallery aside form input {
  width: 80px;
  margin-bottom: 2vh;
  border-radius: 2px;
  background-color: #DDDDDD;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#gallery aside form input:focus {
  width: 180px;
  background-color: #fff;
}

#gallery aside form .textField::-webkit-input-placeholder {
  padding-left: 10px;
}

#gallery aside form .textField:-ms-input-placeholder {
  padding-left: 10px;
}

#gallery aside form .textField::-ms-input-placeholder {
  padding-left: 10px;
}

#gallery aside form .textField::placeholder {
  padding-left: 10px;
}

#gallery aside form #searchButton {
  width: 80px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 2px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#gallery aside form #searchButton:hover {
  background-color: #fff;
}

#footer {
  height: 100vh;
  background: url("../img/Background_4.jpg") center/cover no-repeat;
  -webkit-box-shadow: 0 -3vh 1vh 0 #979797 inset, 0 3vh 1vh 0 #A4A4A4 inset;
          box-shadow: 0 -3vh 1vh 0 #979797 inset, 0 3vh 1vh 0 #A4A4A4 inset;
}

#footer h2:nth-of-type(1) {
  font-size: 10vh;
  padding-top: 17vh;
  text-align: center;
}

#footer h2:nth-of-type(2) {
  font-size: 5vh;
  padding-top: 8vh;
  text-align: center;
}

#footer #contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3vh;
  padding-top: 10vh;
}

#footer #contact article:nth-of-type(2) {
  width: 10vw;
}

#footer #socials {
  text-align: center;
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer #socials a:nth-of-type(2) {
  padding: 0 3vw 0 1vw;
}
/*# sourceMappingURL=style.css.map */